NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAdIS4o9wRtEGgsWM3b5lIzJFce1dx0EiA"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="rarev2-29946.firebaseapp.com"
# Add your Server URL to the NEXT_PUBLIC_DATABASE_URL variable below (ex: http://localhost:8000)
NEXT_PUBLIC_DATABASE_URL=http://localhost:8000 
